<div class="container">
  <div class="grid">
    <% @products.each do |product| %>
      <div class="thumbnail">
        <img src="<%= product.images.first.image_data %>" alt="<%= product.name %>">
        <div class="caption">
          <h3><%= link_to product.name, "#" %></h3>
          <p><%= number_to_currency(product.price, locale: :vi) %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container">
    <%= paginate @products, theme: "twitter-bootstrap-4" %>
  </div>
</div>
