<div class="container">
  <h2><%= t('.sign_in') %></h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me, class: "width-at" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit t('.sign_in') %>
    </div>
  <% end %>
  <div class="login-3rd">
    <%= link_to image_tag("https://image.flaticon.com/icons/svg/281/281764.svg"),
      user_google_oauth2_omniauth_authorize_path, class: "gg" %>
    <%= link_to image_tag("https://image.flaticon.com/icons/svg/174/174848.svg"),
      user_facebook_omniauth_authorize_path, class: "fb" %>
  </div>
  <%= render "users/shared/links" %>
</div>
