<!DOCTYPE html>
<html>
  <head>
    <title><%= t "layouts.application.title" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "toastr", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "shared/toastr" %>
    <%= render "layouts/header" %>
    <div class="toast custom-toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
      <div class="toast-body">
        <%= t ".updated_cart" %>
      </div>
    </div>

    <%= yield %>
  </body>
  <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
</html>
